body {
  margin:0;
  font-family: Arial;
  text-align:center;
}

#map {
  height: 90vh;
  width: 100%;
}

#timeline-controls {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;        /* ensure it’s above Leaflet tiles */
  background: rgba(0,0,0,0.6);
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
}

.leaflet-marker-icon {
  border-radius: 50%;
  border: 2px solid white;
  
.leaflet-popup-content-wrapper {
  background-color: #1f2937;
  color: white;
  border-radius: 8px;
  padding: 6px 10px;
}

.leaflet-popup-tip {
  background-color: #1f2937;
}

.game-popup {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}


